<h1>Criação de teste</h1>
 
<form action="">
    <label>
        titulo da tarefa
        <input type="text" name="title">
    </label>

    <label>
        descrição da tarefa
        <input type="text" name="description">
    </label>

    <input type="submit" value="Criar">
</form>