*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: blueviolet;
}

input{
    color: black;
}

h1{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    padding: 10px;
    font-size: 2em;
    margin-bottom: 20px;
}

/* header */
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(47, 47, 254);
    padding: 10px;
    margin-bottom: 5px;
}

header img {
    width: 80px;
    height: 100px;
}

header nav{
    display: flex;
    gap: 20px;
}

header nav a{
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}

/* main */

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: calc(100vh - 130px);
    background-color: rgb(47, 47, 254);
    padding: 10px;
}

/* home */

/* pensamentos */
.div-pensamentos, .div-myPensamentos{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 2px solid blueviolet;
    padding: 10px;
    margin-bottom: 20px;
}

.div-pensamentos h2, .div-myTitle h2{
    font-size: 1.5em;
    margin-top: 10px;
}

.div-title h3, .div-myTitle h3{
    font-size: 1em;
    color: rgba(189, 189, 189, 0.568);
}

/* form user register */

.done{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    gap: 15px;
    font-size: 1.4em;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.done a {
    text-decoration: none; 
    background-color: rgb(47, 47, 254) !important;
}

#user-register form, #login-container form, #create-tought form, #edit-thought form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
}

#user-register form label, #login-container form label, #create-tought form label, #edit-thought form label{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

#user-register form input, #login-container form input, #create-tought form input, #edit-thought form input{
    border: none;
    border-radius: 5px;
    color: blueviolet;
    padding: 5px;
    width: 300px;
}

#user-register form input:hover, #login-container form input:hover, #create-tought form input:hover, #edit-thought form input:hover{
    transition: .3s;
    width: 310px;
    box-shadow: 0px 3px 3px blueviolet;
}

#user-register form button[type="submit"], .done a, #login-container form button, #create-tought form button, #edit-thought form button{
    background-color: blueviolet;    
    border: none;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 1.3em;
    padding: 5px;
}

.err {
    color: red;
}

/* dashbord */

#div-dashbord{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 20px;
}

#div-dashbord h1{
    padding: 0px !important;
    margin-bottom: 0px !important;
    justify-content: center;
}

#div-dashbord a{
    cursor: pointer;
    font-size: 1.5em;
}

.div-myPensamentos{
    flex-direction: row !important;
    justify-content: space-between !important;
    margin-bottom: 20px;
}

.div-controllsMypensamentos{
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.div-controllsMypensamentos a{
    padding: 3px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}

.trash {
    background-color: red;
}

.edit {
    background-color: orangered;
}
