<section id="create-tought">
    <h1>Criando tought</h1>
    
    <form action="/thought/add" method="post">
        <label >
            Pensamento
            <input required minlength="1" type="text" name="title" placeholder="Digite o seu pensamento">
        </label>
        <button type="submit">Enviar <i class="bi bi-send"></i></button>
    </form>

</section>