<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toughts</title>
    <link rel="stylesheet" href="/css/styled.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <picture>
            <img src="/pictures/logo.png" alt="Logo do toughts">
        </picture>
        <nav>
            <a href="/">Pensamentos</a>
            {{#if session.account}}                
                <a href="/user/login" title="Entre na sua conta">Dashbord</a>
                <a href="/user/register" title="Faça o registro de uma conta">Sair</a>
            {{else}}
                <a href="/user/login" title="Entre na sua conta">Entrar</a>
                <a href="/user/register" title="Faça o registro de uma conta">Registrar</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
</body>
</html>