<h1>Adicionar livro novo</h1>

<div>
    <form action="/books/add" method="post">
        <label>
            titulo
            <input placeholder="Digite o titulo" type="text" name="title">
        </label>

        <label>
            folhas
            <input placeholder="Digite a quantidade de folhas" type="number" name="pagesqty">
        </label>

        <input type="submit" value="Cadastrar">
    </form>
</div>