<form action="/thought/seartch" method="post" id="form-seartch">
    <div>
        <input placeholder="Busque aqui" type="text" name="seartch">
        <button type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>