{{!-- pensamentos --}}
<section id="dashbord">
    <div id="div-dashbord">
        <h1>Dashbord</h1>

        
        <a href="/thought/add" title="Criar um pensamento"><i class="bi bi-plus-circle-fill"></i></a>
    </div>

    {{#if thoughts}}
        {{#each thoughts}}
            {{>myPensamentos}}
        {{/each}}
    {{else}}
        <h2>Parece que você ainda não postou nenhum pensamento</h2>
    {{/if}}
</section>